name: Deploy Anvaya ASSETS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_ARSYAD_USERNAME }}
          password: ${{ secrets.DOCKER_ARSYAD_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_ARSYAD_USERNAME }}/assets-anvaya:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_ARSYAD_HOST }}
          username: ${{ secrets.VPS_ARSYAD_USERNAME }}
          password: ${{ secrets.VPS_ARSYAD_PASSWORD }}
          port: ${{ secrets.VPS_ARSYAD_PORT }}
          script: |
            cd /media/assets/anvaya
            docker compose pull 
            docker compose down
            docker compose up -d
